In [1]:
import pandas as pd

In [2]:
chicagoCrimeDataSet = pd.read_csv('../data/Chicago_Crime.csv')
chicagoCrimeDataSet.head()

,CASE#,DATE OF OCCURRENCE,BLOCK,IUCR,PRIMARY DESCRIPTION,SECONDARY DESCRIPTION,LOCATION DESCRIPTION,ARREST,DOMESTIC,BEAT,WARD,FBI CD,X COORDINATE,Y COORDINATE,LATITUDE,LONGITUDE,LOCATION
0,JE421943,10/25/2021 12:00:00 PM,018XX W FULLERTON AVE,0560,ASSAULT,SIMPLE,CTA BUS,N,N,1931,32.0,08A,NaN,NaN,NaN,NaN,NaN
1,JE421824,10/25/2021 12:00:00 PM,002XX E 51ST ST,0560,ASSAULT,SIMPLE,OTHER (SPECIFY),N,N,231,3.0,08A,1178637.0,1871259.0,41.802037,-87.62039,"(41.802037251, -87.620390452)"
2,JF146587,12/24/2021 10:47:00 PM,014XX S BLUE ISLAND AVE,0460,BATTERY,SIMPLE,POLICE FACILITY / VEHICLE PARKING LOT,Y,N,1233,25.0,08B,NaN,NaN,NaN,NaN,NaN
3,JF129769,01/29/2022 11:55:00 PM,019XX W Fulton ST,0810,THEFT,OVER $500,STREET,N,N,1223,27.0,06,NaN,NaN,NaN,NaN,NaN
4,JF314800,11/01/2021 12:00:00 AM,018XX E 95TH ST,0810,THEFT,OVER $500,APARTMENT,N,N,431,7.0,06,NaN,NaN,NaN,NaN,NaN

In [3]:
chicagoCrimeDataSet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225887 entries, 0 to 225886
Data columns (total 17 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   CASE#                   225887 non-null  object
 1   DATE  OF OCCURRENCE     225887 non-null  object
 2   BLOCK                   225887 non-null  object
 3    IUCR                   225887 non-null  object
 4    PRIMARY DESCRIPTION    225887 non-null  object
 5    SECONDARY DESCRIPTION  225887 non-null  object
 6    LOCATION DESCRIPTION   225218 non-null  object
 7   ARREST                  225887 non-null  object
 8   DOMESTIC                225887 non-null  object
 9   BEAT                    225887 non-null  int64
 10  WARD                    225875 non-null  float64
 11  FBI CD                  225887 non-null  object
 12  X COORDINATE            222445 non-null  float64
 13  Y COORDINATE            222445 non-null  float64
 14  LATITUDE                222445 non-null  float64
 15  LONGITUDE               222445 non-null  float64
 16  LOCATION                222445 non-null  object
dtypes: float64(5), int64(1), object(11)
memory usage: 29.3+ MB

In [4]:
chicagoCrimeDataSet['OCCURRENCE YEAR'] = chicagoCrimeDataSet['DATE  OF OCCURRENCE'].str[6:10]
chicagoCrimeDataSet['OCCURRENCE YEAR']

0         2021
1         2021
2         2021
3         2022
4         2021
          ...
225882    2022
225883    2022
225884    2022
225885    2022
225886    2022
Name: OCCURRENCE YEAR, Length: 225887, dtype: object

In [5]:
chicagoCrimeDataSet['OCCURRENCE MONTH'] = chicagoCrimeDataSet['DATE  OF OCCURRENCE'].str[0:2]
chicagoCrimeDataSet['OCCURRENCE MONTH']

0         10
1         10
2         12
3         01
4         11
          ..
225882    09
225883    10
225884    08
225885    09
225886    09
Name: OCCURRENCE MONTH, Length: 225887, dtype: object

In [6]:
#chicagoCrimeDataSet['OCCURRENCE MONTH'] = chicagoCrimeDataSet['OCCURRENCE MONTH'].replace('01', 'Jan')
#chicagoCrimeDataSet['OCCURRENCE MONTH'] = chicagoCrimeDataSet['OCCURRENCE MONTH'].replace('02', 'Feb')
#chicagoCrimeDataSet['OCCURRENCE MONTH'] = chicagoCrimeDataSet['OCCURRENCE MONTH'].replace('03', 'Mar')
#chicagoCrimeDataSet['OCCURRENCE MONTH'] = chicagoCrimeDataSet['OCCURRENCE MONTH'].replace('04', 'Apr')
#chicagoCrimeDataSet['OCCURRENCE MONTH'] = chicagoCrimeDataSet['OCCURRENCE MONTH'].replace('05', 'May')
#chicagoCrimeDataSet['OCCURRENCE MONTH'] = chicagoCrimeDataSet['OCCURRENCE MONTH'].replace('06', 'Jun')
#chicagoCrimeDataSet['OCCURRENCE MONTH'] = chicagoCrimeDataSet['OCCURRENCE MONTH'].replace('07', 'Jul')
#chicagoCrimeDataSet['OCCURRENCE MONTH'] = chicagoCrimeDataSet['OCCURRENCE MONTH'].replace('08', 'Aug')
#chicagoCrimeDataSet['OCCURRENCE MONTH'] = chicagoCrimeDataSet['OCCURRENCE MONTH'].replace('09', 'Sep')
#chicagoCrimeDataSet['OCCURRENCE MONTH'] = chicagoCrimeDataSet['OCCURRENCE MONTH'].replace('10', 'Oct')
#chicagoCrimeDataSet['OCCURRENCE MONTH'] = chicagoCrimeDataSet['OCCURRENCE MONTH'].replace('11', 'Nov')
#chicagoCrimeDataSet['OCCURRENCE MONTH'] = chicagoCrimeDataSet['OCCURRENCE MONTH'].replace('12', 'Dec')
#chicagoCrimeDataSet['OCCURRENCE MONTH']

In [9]:
crimesPerMonth_df = chicagoCrimeDataSet.groupby(['OCCURRENCE YEAR','OCCURRENCE MONTH'])['CASE#'].count().to_frame()
crimesPerMonth_df.rename(columns = {'CASE#':'OCCURRENCE'}, inplace = True)
crimesPerMonth_df = crimesPerMonth_df.reset_index()
crimesPerMonth_df  = crimesPerMonth_df.sort_values(by='OCCURRENCE MONTH', ascending=True)
crimesPerMonth_df

   OCCURRENCE YEAR OCCURRENCE MONTH  OCCURRENCE
3             2022               01       15431
4             2022               02       15110
5             2022               03       18179
6             2022               04       17782
7             2022               05       19928
8             2022               06       20458
9             2022               07       21926
10            2022               08       21835
11            2022               09       21477
0             2021               10       15089
12            2022               10        4076
1             2021               11       17349
2             2021               12       17247

In [ ]:
chicagoCrimeDataSet['Month'].value_counts()